* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;


}

header {
    background-image: url(../img/banner\ promotion.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding-bottom: 244px;

    & nav {
        display: flex;
        justify-content: space-between;
        padding: 16px 92px;
        align-items: center;

        & ul {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            color: rgba(239, 239, 239, 0.70);

            & li:first-child {
                color: #fff;
            }
        }

        & .btns {



            & button {
                padding: 8px 16px;
                border-radius: 8px;
                background: transparent;
                color: #fff;




            }

            & button:first-child {
                margin-right: 16px;
                background-color: #3B44F6;
            }

            & .border {
                border: #fff solid 1px;
            }


        }
    }

    & .content {

        margin-top: 197px;
        margin-left: 95px;
        color: #fff;
        width: 438px;
    }

    & .btg button {
        background-color: #3B44F6;
        padding: 16px 32px;
        display: flex;
        margin-top: 64px;
        gap: 64px;
    }

}

main {
    & .why {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .logos {
            display: flex;
            flex-direction: row;
            text-align: center;
            background-position: center;
            gap: 83px;
            border-radius: 100px;
            margin: auto;

            & p {
                font-size: 20px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
            }

        }
    }
    & .games {
        width: 1280px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px 92px 40px 92px;
        gap: 24px;
        margin: auto;
        

       & .title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    
       }
        & h2 {
            font-size: 36px;
            font-weight: 600;
            line-height: 50.4px;
            text-align: left;
            width: 261px;
             
        }
        & h5 {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            text-align: right;
            color: #3B44F6;
        }
        & .promotion {
            display: flex;
            gap: 16px;
            align-items: center;
            
            & div {
                width: 169px;
                height: 169px;
                gap: 0px;
                border-radius: 8px;
                opacity: 0px;
            }
            & p {
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
                margin-top: 70px;
            }
            & .card-strategy {
                background-image: url(../img/strategy.svg);
            }
            & .card-FPS {
                background-image: url(../img/FPS.svg);
            }
            & .card-RPG {
                background-image: url(../img/RPG.svg);
            }
            & .card-puzzle {
                background-image: url(../img/puzzle.svg);
            }
            & .card-role-playing {
                background-image: url(../img/role\ playing.svg);
            }
            & .card-sports {
                background-image: url(../img/sports.svg);
            }
        }
    }
    & .best {
        width: 1280px;
        padding: 30px 0px 30px 0px;
        gap: 18px;
        margin: auto;
        padding: 40px 92px;

        & h2 {
            font-size: 36px;
            font-weight: 600;
            line-height: 50.4px;
            text-align: left;
            width: 518px;
             
        }

        & .cards-best {
            display: flex;
            gap: 16px;

            & .card {
                width: 262px;
                display: flex;
                flex-direction: column;
                padding: 16px 16px 24px 16px;
                gap: 15px;
                border-radius: 8px;
                border: 0.3px solid #D1D1D1;
            }
            & .h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            }
            & .p {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 22.4px;
                text-align: left;

            }
        }
    }
}